
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>간단 메모장</h1>
<!--    name = requestparam 과 동일하게 작성할 것 -->
<!--    br 엔터키 효과 줄바꿈-->
<!--textarea 여러줄 text 를 입력하게 해주는 input란 => input 란이 커보임-->
<form class="add-form" th:action="@{/add}" method="post">
    <input type="text" name="title" placeholder="제목을 입력하세요" required/>
    <br/>
    <textarea name="content" placeholder="내용을 입력하세요" required></textarea>
    <br/>
    <button type="submit">메모 추가</button>
</form>

<ul>
    <li th:each="memo: ${memos}">
        <div>
            <h3 th:text="${memo.title}"></h3>
            <p th:text="${memo.content}"></p>
        </div>

        <div class="actions">
            <a th:href="@{'/edit/' + ${memo.id}}">수정</a>
            <form th:action="@{/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${memo.id}"/>
                <button type="submit">삭제</button>
            </form>
        </div>
    </li>
</ul>
</body>
</html>